<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    {% include head-custom.html %}

    {% seo %}
  </head>

  <body>
    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <div class="container">
      <div id="page-container">
        <!-- Table of Contents -->
        <div id="toc">
          <h2>Contents</h2>
          <ul>
            <li><a href="#background">Background</a></li>
            <li><a href="#task-0---community-of-practice-discord-server">Task 0 - (Community of Practice, Discord Server)</a></li>
            <li><a href="#task-1---no-token-left-behind---file-forensics">Task 1 - No Token Left Behind - (File Forensics)</a></li>
            <li><a href="#task-2---driving-me-crazy---forensics-devops">Task 2 - Driving Me Crazy - (Forensics, DevOps)</a></li>
            <li><a href="#task-3---how-did-they-get-in---reverse-engineering-vulnerability-research">Task 3 - How did they get in? - (Reverse Engineering, Vulnerability Research)</a></li>
            <li><a href="#task-4---llms-never-lie---programming-forensics">Task 4 - LLMs never lie - (Programming, Forensics)</a></li>
            <li><a href="#task-5---the-153---reverse-engineering-cryptography">Task 5 - The #153 - (Reverse Engineering, Cryptography)</a></li>
          </ul>
        </div>

        <!-- Main content -->
        <section id="main_content">
          {{ content }}
        </section>
      </div>
    </div>
  </body>
</html>
